<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log_dir">${sys:log.dir}</Property>
        <Property name="app_name">scheduler</Property>
        <Property name="log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${log_pattern}" />
        </Console>
        <RollingFile name="APP_DEFAULT"
            fileName="${log_dir}/${app_name}/app-default.log"
            filePattern="${log_dir}/${app_name}/app-default.%d{yyyy-MM-dd}.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <PatternLayout pattern="${log_pattern}" />
        </RollingFile>

        <RollingFile name="COMMON_ERROR"
            fileName="${log_dir}/${app_name}/common-error.log"
            filePattern="${log_dir}/${app_name}/common-error.%d{yyyy-MM-dd}.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <PatternLayout pattern="${log_pattern}" />
        </RollingFile>

        <RollingFile name="SPRING_LOG"
            fileName="${log_dir}/${app_name}/spring.log"
            filePattern="${log_dir}/${app_name}/spring.%d{yyyy-MM-dd}.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <PatternLayout pattern="${log_pattern}" />
        </RollingFile>


        <RollingFile name="DAL_DIGEST"
            fileName="${log_dir}/${app_name}/dal-digest.log"
            filePattern="${log_dir}/${app_name}/dal-digest.%d{yyyy-MM-dd}.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <PatternLayout pattern="${log_pattern}" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="APP_DEFAULT" />
        </Root>

        <Logger name="org.springframework" level="info">
            <AppenderRef ref="SPRING_LOG" />
        </Logger>

        <Logger name="DAL_DIGEST" additivity="false" level="info">
            <AppenderRef ref="DAL_DIGEST" />
        </Logger>

        <Logger name="COMMON_ERROR" additivity="false" level="error">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="COMMON_ERROR" />
        </Logger>
    </Loggers>
</Configuration>